
<div class="row">
<%= bootstrap_form_for([@project,@investment]) do |f| %>
  <% if @investment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investment.errors.count, "error") %> prohibited this investment from being saved:</h2>

      <ul>
      <% @investment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :value, prepend: 'R$' %>
  </div>
  <div class="actions">
    <%= f.submit "Confirmar investimento", class: 'btn btn-success' %>
  </div>
<% end %>

</div>