<div class="row">
  <div class="col-sm-8">
    <%= bootstrap_form_for(@project,layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |f| %>
    <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="card-terciary">
      <%= f.text_field :name, help: 'Informe o nome da sua Startup' %>
    </div>

    <div class="card-terciary">
      <%= f.text_field :slogan %>
    </div>

    <div class="card-terciary">
       <%= f.collection_select :category_id, Category.all, :id, :name,prompt: true %>
    </div>

    <div class="card-terciary">
      <%= f.text_field :value,prepend: "R$", help:'Planeje uma meta coerente com o que seu projeto propõe. Revise seu orçamento e não esqueça de incluir a taxa de 13% cobrada pelo Catarse caso seu projeto seja bem-sucedido.' %>
    </div>

    <div class="card-terciary">
      <%= f.number_field :term, append: "DIAS", help: "Você pode escolher entre 1 e 60 dias para a sua campanha. Confira o guia dos realizadores para dicas sobre prazos."  %>
    </div>

    <div class="card-terciary">
      <%= f.text_field :slug, help: "Prefira algo simples, direto e que identifique bem seu projeto. Tente não usar hífen, underline etc.", prepend: "www.brazuca.vc/startups/" %>
    </div>


    <div class="card-terciary">
      <%= f.text_field :video_link, help: 'Cole aqui a url do Youtube ou Vimeo' %>
    </div>

    <div class="card-terciary">
      <%= f.label :description %>
      <p class='text text-muted'>
        Fale com paixão e clareza sobre o que será realizado. Esclareça possíveis dúvidas sobre como o dinheiro será utilizado, quem está por trás do projeto, como e quando o projeto será entregue. Transparência atrai mais apoiadores. Lembre-se: seu projeto será acessado por pessoas comuns que decidirão se querem ou não apoiar seu projeto. Capriche!
      </p>
      <br>
      <%= f.bootsy_area :description,:class=>"form-control",:rows =>'10' %>
    </div>

    <div class="pull-right">
      <%= f.submit "Salvar", class: 'btn btn-success btn-lg' %>
    </div>
    <% end %>
  </div>
</div>
